body, p, li, a {
/*	font-family: Arial, Verdana, Sans-Serif;*/
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 16px;
}

h1, h2, h3 {
	font-family: 'Yanone Kaffeesatz', arial, serif;
}

body {
	margin: 0;
	padding: 0;
}

#membresTable {
	color: #FFF;
	border-collapse: collapse;
}

#membresTable th {
	color: #000;
}

#membresTable  .even {
	background: #2b1507;
	border-top: 1px solid #31190a
}

#membresTable  .odd {
 	background: #231207;
 	border-top: 1px solid #30190b
}

#hd {
	width: 100%;
	height: 100px;
	margin-top: 0;
	padding-top: 10px;
	border-bottom: 1px solid #888;
	z-index: 0;
}

#ft {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 99px;
	border-top: 1px solid #888;
	z-index: 0;
}

#logo, #bd, #yt {
	margin: 0 auto;
	padding: 20px 30px 0 30px;
}

#content {
	float:left;
}

#youtube {
	float:right;
}

#logo h1 {
	color: white;
	font-size: 44pt;
	display: inline;
	vertical-align: top;
	padding-left: 20px;
}

#logo img {
	display: inline;
	vertical-align: bottom;
	margin-left: 50px;
	margin-right: 5px;
}

body {
	margin-top: 0;
	padding-top: 0;
}

#logo, #logo h1 {
	margin-top: 0;
	padding-top: 0;
}

#bd {
	width: 600px;
	position: absolute;
	top: 90px;
	bottom: 75px;
	left: 150px;
	z-index: 10;
	overflow: auto;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
}

#yt {
	width: 300px;
	position: absolute;
	top: 90px;
	bottom: 75px;
	right: 100px;
	z-index: 1;
	overflow: auto;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
}

a, a:visited, a:hover, a:active {
	color: #6493D2;
}

h2 {
	padding: 0;
	margin: 0;
	font-size: 36pt;
	color: #FF5500;
}

h3 {
	padding: 0;
	margin: 0;
	font-size: 24pt;
	color: #092E67;
}

/* class */
.color-c1, .color-c1 a {
	color: #c69b6d !important;
} /* warrior */
.color-c2, .color-c2 a {
	color: #f48cba !important;
} /* paladin */
.color-c3, .color-c3 a, .color-g2 {
	color: #aad372 !important;
} /* hunter */
.color-c4, .color-c4 a, .color-g1 {
	color: #fff468 !important;
} /* rogue */
.color-c5, .color-c5 a {
	color: #f0ebe0 !important;
} /* priest */
.color-c6, .color-c6 a {
	color: #c41e3b !important;
} /* death knight */
.color-c7, .color-c7 a {
	color: #2359ff !important;
} /* shaman */
.color-c8, .color-c8 a, .color-g3 {
	color: #68ccef !important;
} /* mage */
.color-c9, .color-c9 a {
	color: #9382c9 !important;
} /* warlock */
.color-c10, .color-c10 a {
	color: #00ffba !important;
} /* monk */
.color-c11, .color-c11 a, .color-g4 {
	color: #ff7c0a !important;
} /* druid */
.color-c12, .color-c12 a {
	color: #4dd827 !important;
} /* demon hunter */

.specRole {
	display: block;
    position: relative;
    padding-bottom: 4px;
}

.spec img {
	display: block;
	border-radius: 2px;
	width: 26px;
	height: 26px;
	text-align: center;
}

.icon-dps, .icon-healing, .icon-healer, .icon-tank {
	position: relative;
	top: -10px;
	float: right;
	width: 16px;
	height: 16px;
	background:
		url("http://eu.battle.net/wow/static/images/icons/roles.png")
		no-repeat;
}

.icon-dps { background-position: 0 0; }
.icon-healer, .icon-healing { background-position: -16px 0; }
.icon-tank   { background-position: -32px 0; }
.role {
	position: absolute;
	left: 16px;
}

.nomM { width: 150px; padding-left: 5px; }
.rangM { width: 80px; text-align: center; }
.classeM { width: 120px; }
.niveauM { width: 60px; text-align: center; }
.speM { }
.ilvlM { width: 35px; text-align: center; }

#ytTable {
	color: #000;
	border-collapse: collapse;
	text-align: center;
}

.ytDesc { width: 150px; }
.ytDate {
	font-size: 10px;
    font-style: italic;
    color: #888;
}
.ytLink { width: 100px; }
